body {
  background-color: black;
  color: white;
  margin-right: 3em; 
  margin-left: 3em;
}

header, .navbar, .dropdown-menu {
  background-color: black !important; 
}

.navbar {
  margin-bottom: 1em;
}

h1 {
  margin-right: 1em;
}

.dropdown-toggle {
  background-color: black;
  border-radius: 0px;
}

.navbar .navbar-nav .nav-link, .dropdown-item{
  color: white; 
}

a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
}

.icona {
font-size: 1.7em;
}

.dropdown {
  border: 0;
}

.custom-dropdown {
  transform: translateX(-80px); /* Sposta il menu verso sinistra */
}

footer {
  margin-top: 3em;
}

footer .col {
  padding: 1em;
}

/* aggiungere classe div a destra */




/* seconda pagina */
.title {
  text-align: start;
}

.profile-box {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-control, .form-select {
  background-color: black;
  color: white;
  flex-wrap: wrap;
}

.form-control {
  background-color: grey;
  border-radius: 0;
  margin-left: 1em;
  
}

.form-control::placeholder {
  color: white;
  background-color: grey;
  font-size: large;
  font-weight: 600;
}

.rigaDown {
  border-bottom: 1px solid grey;
  padding-bottom: 3em;
}